{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>DZRogoz</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-reboot.css' %}">
</head>
<body>
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Самые результативные игроки за всё время</h1>
</div>

{% for commands in basketball_list %}
    <div class="card px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{ commands.title }}</h5>
            <p class="card-text">{% for commands in commands.commands.all %}
                 <p> {{ commands.name }} </p>
            {% endfor %}</p>
        </div>
    </div>
{% endfor %}
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.js' %}"></script>
</body>
</html>